!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Lonely Planet UI Test
    %link{rel: "stylesheet", href: 'css/style.css'}
    %script{src: '/var/www/script/jquery/jquery.js'}
    %script{src: 'js/read-more.js'}

  %body
    = haml :nav
    = yield
    = haml :footer
