body {
  font-family: Georgia;
  padding: 0;
  margin: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.read-more-container {
  margin-top: 2%;
  height: 25em;
  overflow: hidden;
  line-height: 1.5;
}
.read-more-container h2 {
  margin-top: 1.25em;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

ul {
  list-style: none;
}

.logo {
  position: absolute;
  left: 50%;
  margin-left: -2.5em;
  top: 0.5em;
}

.button {
  background-color: #1e344c;
  padding: 0.6em;
  color: white;
  margin-top: 0.6em;
  text-decoration: none;
}

h1 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
  color: #133944;
}

.images-container {
  margin-top: 5%;
  overflow: hidden;
}

.image {
  float: left;
  width: 30%;
  margin-right: 5%;
}
.image img {
  max-width: 100%;
}

.last-image {
  margin-right: 0;
}

.image-container {
  height: 150px;
  margin-bottom: 20px;
  overflow: hidden;
}

.navigation {
  font-family: arial;
  text-align: center;
  background-color: #124385;
}
.navigation ul {
  display: inline-block;
  height: 3.5em;
  margin: 0;
}
.navigation ul li {
  display: inline-block;
  text-align: left;
  float: left;
  height: 3.5em;
  margin: 0;
  width: 150px;
}
.navigation ul li:nth-child(3) {
  margin-right: 150px;
}
.navigation ul li a {
  color: white;
  text-decoration: none;
  line-height: 3.5em;
  padding: 0 1em;
}
.navigation ul li a:hover {
  text-decoration: underline;
}

.sub-navigation {
  font-family: arial;
  margin-bottom: 3.5em;
  text-align: center;
  background-color: #e5ebee;
}
.sub-navigation ul {
  display: inline-block;
  height: 3.5em;
  margin: 0;
  padding: 0;
}
.sub-navigation ul li {
  float: left;
  height: 3.5em;
  width: auto;
  margin: 0;
}
.sub-navigation ul li a {
  color: #133944;
  text-decoration: none;
  line-height: 3.5em;
  padding: 0 1em;
}
.sub-navigation ul li a:hover {
  text-decoration: underline;
}

.lightbox {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.lightbox .lightboxImage {
  position: absolute;
  left: 30%;
  top: 30%;
  border: 10px solid white;
}

footer {
  font-family: arial;
  overflow: hidden;
  font-size: 12px;
  background-color: #e5ebee;
  margin-top: 4em;
  padding-top: 1.8em;
}
footer nav {
  float: left;
  width: 25%;
  margin-bottom: 2em;
}
footer h3 {
  text-transform: uppercase;
  margin-bottom: 2em;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer ul li {
  margin: 0;
  display: block;
  padding: 0.8em 0;
}
footer a {
  text-decoration: none;
  color: #1e344c;
}
footer a:hover {
  text-decoration: underline;
}
